.sidebar{
    width:270px;
    height:100vh;
    background:#0f172a;
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    padding:30px 20px;
    overflow-y:auto;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:50px;
}

.logo-icon{
    width:55px;
    height:55px;
    background:#2563eb;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    flex-shrink:0;
}

.logo h2{
    font-size:28px;
    font-weight:700;
    color:#fff;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin-bottom:10px;
}

.sidebar ul li a{
    display:flex;
    align-items:center;
    gap:18px;
    text-decoration:none;
    color:#cbd5e1;
    padding:16px;
    border-radius:12px;
    transition:.3s;
    font-size:15px;
    font-weight:500;
}

.sidebar ul li a svg{
    font-size:18px;
    min-width:20px;
}

.sidebar ul li a:hover{
    background:#1e293b;
    color:#fff;
}

.sidebar ul li a.active{
    background:#2563eb;
    color:#fff;
}

.sidebar ul li a.active:hover{
    background:#1d4ed8;
}

@media(max-width:900px){

    .sidebar{
        width:90px;
        padding:25px 10px;
    }

    .logo{
        justify-content:center;
    }

    .logo h2{
        display:none;
    }

    .sidebar ul li a{
        justify-content:center;
        padding:16px 0;
    }

    .sidebar ul li a span{
        display:none;
    }

}

@media(max-width:768px){

    .sidebar{
        display:none;
    }

}